@model Tuple<SaleProduct, bool>

@{
    SaleProduct propduct = Model.Item1;
    bool hasBorder = Model.Item2;

    ProductImage pImage = propduct.Product.ProductImages.FirstOrDefault() ?? new ProductImage();
    string src = pImage.ImageSrc ?? "/images/no-image.jpg";
    int qty = propduct.Product.WarehouseProducts.Sum(wh => wh.Quantity);

    double discountPercent = 0;
    propduct.Product.Price = propduct.SalePrice;

    int totalReviews = propduct.Product.Reviews.Count();
    double averageRating = totalReviews > 0 ? Math.Round(propduct.Product.Reviews.Average(r => r.Rating), 1) : 0;
}

<div class="product-box @(!hasBorder ? "no-border" : "")">
    <a href="/product/@propduct.ProductId" class="product-link">
        <div class="product-image lazy-loading">
            <img lazy-src="@src" alt="" class="product-img">
        </div>
    </a>
    @if (qty <= 0)
    {
        <div class="out-of-stock mt-1 text-center">
            Hết hàng
        </div>
    }
    <a href="/product/@propduct.ProductId" class="product-link">
        <div class="product-name">
            @propduct.Product.ProductName
        </div>
    </a>

    <div class="product-original-price">
        @if (propduct.Product.OriginalPrice > propduct.Product.Price)
        {
            discountPercent = Convert.ToDouble((propduct.Product.OriginalPrice - propduct.Product.Price)
            / propduct.Product.OriginalPrice) * 100;
            <span>@CurrencyFormatter.Format(propduct.Product.OriginalPrice)</span>
        }
        else
        {
            <span style="visibility: hidden">-</span>
        }
    </div>
    <div class="product-price d-flex align-items-center">
        <span>@CurrencyFormatter.Format(propduct.Product.Price)</span>
        @if (discountPercent > 0)
        {
            <div class="product-discount-percent">
                @("-" + (int)discountPercent + "%")
            </div>
        }
    </div>

    <div class="product-rating d-flex align-items-center gap-2">
        <div class="d-flex align-items-center product-rating-avg">
            <span>@averageRating</span>
            <i class="fa-solid fa-star"></i>
        </div>

        <div>
            <span class="product-rating-total">(@totalReviews đánh giá)</span>
        </div>
    </div>

    <button class="view-product" onclick="window.location.href='/product/@propduct.ProductId'">
        <i class="fa-regular fa-eye"></i>
    </button>
    <button class="btn-add-to-cart" data-product="@propduct.ProductId" @(qty <= 0 ? "disabled" : "")>
        <i class="fa-solid fa-cart-plus"></i>
    </button>
</div>