@model Tuple<IEnumerable<UserCart>, IEnumerable<Breadcrumb>>

@{
    ViewData["Title"] = "Giỏ hàng - STech";
}

@await Html.PartialAsync("Partialviews/Breadcrumb", Model.Item2)

<section class="cart-page">
        @if (Model.Item1.Count() > 0)
        {
            decimal totalPrice = 0;

            <div class="row m-0 p-0">
                <div class="col-12 col-sm-9 m-0 p-0">
                    <div class="row m-0 p-0 d-none d-md-flex">
                        <div class="col-4">Sản phẩm</div>
                        <div class="col-3">Đơn giá</div>
                        <div class="col-2">Số lượng</div>
                        <div class="col-3">Thành tiền</div>
                    </div>
                    @foreach(UserCart cart in Model.Item1)
                    {
                        if (cart.Product == null)
                        {
                            continue;
                        }

                        totalPrice += cart.Product.Price * cart.Quantity;

                        ProductImage pImage = cart.Product.ProductImages.FirstOrDefault() ?? new ProductImage();
                        string src = pImage.ImageSrc ?? "~/images/no-image.jpg";

                        <div class="row m-0 p-0 d-none d-md-flex">
                            <div class="col-4">

                            </div>
                            <div class="col-3">

                            </div>
                            <div class="col-2">

                            </div>
                            <div class="col-3">

                            </div>
                        </div>


                    @* <div class="cart-product-box d-flex">
                        <div class="cart-product-left d-flex flex-column align-items-center gap-2">
                            <a href="/product/@cart.ProductId">
                                <div class="cart-img">
                                    <img src="@src" alt="@cart.ProductId" />
                                </div>
                            </a>
                            <a href="/cart/delete?id=@cart.ProductId" class="delete-cart-item d-flex gap-2 align-items-center">
                                <i class="fa-regular fa-trash-can"></i>
                                <span>Xóa</span>
                            </a>
                        </div>
                        <div class="cart-product-right d-flex justify-content-between">
                            <div class="cart-product-name">
                                <a href="/product/@cart.ProductId">
                                    <h5>@cart.Product.ProductName</h5>
                                </a>
                            </div>
                            <div class="cart-product-price-quantity">
                                <div class="cart-product-price">
                                    <h5>@(CurrencyFormatter.Format(cart.Product.Price))</h5>
                                    @if (cart.Product.OriginalPrice > cart.Product.Price)
                                    {
                                        <h6>@(CurrencyFormatter.Format(cart.Product.OriginalPrice))</h6>
                                    }
                                    else
                                    {
                                        <h6 style="visibility: hidden">None</h6>
                                    }
                                </div>
                                <div class="cart-product-quantity">
                                    <button type="button" class="update-quantity decrease-qty"
                                            data-product="@cart.ProductId" data-update="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <input type="number" name="quantity" value="@cart.Quantity" data-product="@cart.ProductId" min="1" />
                                    <button type="button" class="update-quantity increase-qty"
                                            data-product="@cart.ProductId" data-update="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> *@
                    }
                </div>
                <div class="col-12 col-sm-3  m-0 p-0">

                </div>
            </div>
        }
        else
        {
            <div class="cart-info">
                <div class="cart-empty d-flex flex-column align-items-center py-5">
                    <p>Giỏ hàng của bạn đang trống</p>
                    <button class="to-home-page-btn" onclick="window.location.href='/collections/all'">
                        TIẾP TỤC MUA HÀNG
                    </button>
                </div>
            </div>
        }
</section>