@model Tuple<Product, IEnumerable<Product>, List<Breadcrumb>>

@{
    Product product = Model.Item1;
    List<Breadcrumb> breadcrumbs = Model.Item3;

    IEnumerable<ProductImage> productImages = product.ProductImages;
    IEnumerable<ProductSpecification> productSpecs = product.ProductSpecifications;
    IEnumerable<WarehouseProduct> wh = product.WarehouseProducts;

    IEnumerable<Product> similarProducts = Model.Item2;

    int inStock = wh.Sum(w => w.Quantity);

    ViewData["Title"] = product.ProductName + " - STech";
}

@await Html.PartialAsync("PartialViews/Breadcrumb", breadcrumbs)

<section class="product-detail">
    <div class="container-fluid">
        <div class="row product-detail-box p-0">
            <div class="col-12 col-md-5 product-gallery">
                <div class="slider-main">
                    @if (productImages.Count() > 0)
                    {
                        foreach (ProductImage pImage in productImages)
                        {
                            <img src="@pImage.ImageSrc" alt="" />
                        }
                    }
                    else
                    {
                        <img src="~/images/no-image.jpg" alt="" />
                    }

                </div>
                <div class="slider-nav mt-3">
                    @foreach (ProductImage pImage in productImages)
                    {
                        <div class="slick-slider-item">
                            <img src="@pImage.ImageSrc" alt="" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 col-md-7 product-info">
                <div class="product-info-name">
                    <h3>@product.ProductName</h3>
                </div>
                <div class="product-info-original-price">
                    @{
                        double discountPercent = 0;
                    }
                    @if (product.OriginalPrice > product.Price)
                    {
                        <span>@CurrencyFormatter.Format(product.OriginalPrice)</span>

                        discountPercent = ((Convert.ToDouble(product.OriginalPrice) - Convert.ToDouble(product.Price))
                        / Convert.ToDouble(product.OriginalPrice)) * 100;
                    }
                </div>
                <div class="product-info-price d-flex align-items-center">
                    <h2>@CurrencyFormatter.Format(product.Price)</h2>
                    @if (discountPercent > 0)
                    {
                        <div class="product-info-discount-percent">
                            @("-" + (int)discountPercent + "%")
                        </div>
                    }
                </div>

                <div class="mt-3">
                    @if(product.IsActive == true)
                    {
                        @if (inStock > 0)
                        {
                            <div class="d-flex flex-column flex-sm-row gap-3">
                                @if (User.Identity != null && User.Identity.IsAuthenticated)
                                {
                                    <button class="buy-action-btn" onclick="window.location.href='/order/checkout?pId=@product.ProductId'">
                                        <div>
                                            <h4>MUA NGAY</h4>
                                            <span>Giao tận nơi hoặc nhận tại cửa hàng</span>
                                        </div>
                                    </button>
                                }
                                else
                                {
                                    <button class="buy-action-btn not-logged-in">
                                        <div>
                                            <h4>MUA NGAY</h4>
                                            <span>Giao tận nơi hoặc nhận tại cửa hàng</span>
                                        </div>
                                    </button>
                                }
                                <button class="add-to-cart-action" data-product="@product.ProductId">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div>
                                <button class="buy-action-btn" disabled>
                                    <h4>HẾT HÀNG</h4>
                                </button>
                            </div>
                        }
                    } 
                    else
                    {
                        <div>
                            <button class="buy-action-btn" disabled>
                                <h4>SẢN PHẨM NGỪNG KINH DOANH</h4>
                            </button>
                        </div>
                    }
                </div>

                <div class="mt-3">
                    @Html.Raw(product.ShortDescription)
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid mt-3 p-0">
        <div class="row p-0 flex-column-reverse flex-md-row">
            <div class="col-12 col-md-8">
                <div class="product-detail-box">
                    <div class="box-header">
                        <h4>Mô tả sản phẩm</h4>
                    </div>
                    <div class="mt-3">
                        @if (!string.IsNullOrEmpty(product.Description))
                        {
                            <div class="product-contents">
                                @Html.Raw(product.Description)
                            </div>

                            <div class="d-flex justify-content-center">
                                <button style="width: 15rem; max-width: 100%" class="mt-3 view-product-info view-contents">
                                    Xem tất cả
                                </button>
                            </div>
                        }
                        else
                        {
                            <div style="height: 20rem; display: flex; align-items: center; justify-content: center">
                                <p>Sản phẩm này chưa có mô tả</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 ps-md-0">
                <div class="product-detail-box">
                    <div class="box-header">
                        <h4>Thông số kỹ thuật</h4>
                    </div>
                    <div class="product-specifications mt-4">
                        <div class="product-specs-box">
                            <table class="product-specs-table">
                                <tr>
                                    <td>Hãng SX</td>
                                    <td>@(product.Brand != null ? product.Brand.BrandName : "")</td>
                                </tr>
                                <tr>
                                    <td>Bảo hành</td>
                                    <td>@($"{product.Warranty} tháng")</td>
                                </tr>
                                @if (productSpecs.Count() > 0)
                                {
                                    foreach (ProductSpecification spec in productSpecs)
                                    {
                                        <tr>
                                            <td>@spec.SpecName</td>
                                            <td>@spec.SpecValue</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>

                        <button class="w-100 mt-3 view-product-info view-specification">
                            Xem tất cả thông số
                        </button>
                    </div>
                </div>

                <div class="product-detail-box mt-3">
                    <div class="box-header">
                        <h4>Sản phẩm tương tự</h4>
                    </div>

                    <div>
                        @foreach(Product p in similarProducts)
                        {
                            double p_discountPercent = 0;

                            <div class="d-flex justify-content-between gap-3 mb-3">
                                <div style="border-radius: var(--radius); border: 1px solid #ccc; padding: .3rem">
                                    <img style="width: 5rem; border-radius: var(--radius)" src="@(p.ProductImages.FirstOrDefault()?.ImageSrc ?? "/images/no-image.jpg")" alt="" />
                                </div>
                                <div class="d-flex gap-3 align-items-center justify-content-between">
                                    <div>
                                        <div class="product-name m-0 p-0 cursor-pointer" onclick="window.location.href='/product/@p.ProductId'">
                                            @p.ProductName
                                        </div>
                                        <div>
                                            <div class="product-original-price">
                                                @if (p.OriginalPrice > p.Price)
                                                {
                                                    p_discountPercent = Convert.ToDouble((p.OriginalPrice - p.Price)
                                                    / p.OriginalPrice) * 100;
                                                    <span>@CurrencyFormatter.Format(p.OriginalPrice)</span>
                                                }
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>@CurrencyFormatter.Format(p.Price)</span>
                                                @if (p_discountPercent > 0)
                                                {
                                                    <div class="product-discount-percent">
                                                        @("-" + (int)p_discountPercent + "%")
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <a href="javascript:void(0)" class="click-add-to-card" data-product="@p.ProductId">
                                        <i class="fa-solid fa-cart-plus" style="font-size: 1.2rem"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-container product-specs-hidden">
        <div class="form-box p-0 overflow-hidden d-flex flex-column">
            <div class="product-specs-hidden-header w-100 d-flex align-items-center justify-content-between">
                <div style="font-size: 1.1rem; font-weight: 600">Thông số kỹ thuật</div>
                <a href="javascript:void(0)" class="close-product-specs">
                    <i style="font-size: 1.1rem; color: #fff" class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="p-4 mt-1 overflow-y-auto flex-grow-1">
                <table class="product-specs-table">
                    <tr>
                        <td>Hãng SX</td>
                        <td>@(product.Brand != null ? product.Brand.BrandName : "")</td>
                    </tr>
                    <tr>
                        <td>Bảo hành</td>
                        <td>@($"{product.Warranty} tháng")</td>
                    </tr>
                    @if (productSpecs.Count() > 0)
                    {
                        foreach (ProductSpecification spec in productSpecs)
                        {
                            <tr>
                                <td>@spec.SpecName</td>
                                <td>@spec.SpecValue</td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="px-4 pb-4">
                <button class="form-submit-btn close-product-specs">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/product.js"></script>
}
