@model Tuple<Product, List<Breadcrumb>>

@{
    Product product = Model.Item1;
    List<Breadcrumb> breadcrumbs = Model.Item2;

    IEnumerable<ProductImage> productImages = product.ProductImages;
    IEnumerable<ProductSpecification> productSpecs = product.ProductSpecifications;
    IEnumerable<WarehouseProduct> wh = product.WarehouseProducts;

    int inStock = wh.Sum(w => w.Quantity);

    ViewData["Title"] = product.ProductName + " - STech";
}

@await Html.PartialAsync("PartialViews/Breadcrumb", breadcrumbs)

<section class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12 product-detail-box product-gallery">
                <div class="slider-main">
                    @if (productImages.Count() > 0)
                    {
                        foreach (ProductImage pImage in productImages)
                        {
                            <img src="@pImage.ImageSrc" alt="" />
                        }
                    }
                    else
                    {
                        <img src="~/images/no-image.jpg" alt="" />
                    }

                </div>
                <div class="slider-nav mt-3">
                    @foreach (ProductImage pImage in productImages)
                    {
                        <div class="slick-slider-item">
                            <img src="@pImage.ImageSrc" alt="" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 product-detail-box product-info">
                <div class="product-info-name">
                    <h3>@product.ProductName</h3>
                </div>
                <div class="product-info-original-price">
                    @{
                        double discountPercent = 0;
                    }
                    @if (product.OriginalPrice > product.Price)
                    {
                        <span>@CurrencyFormatter.Format(product.OriginalPrice)</span>

                        discountPercent = ((Convert.ToDouble(product.OriginalPrice) - Convert.ToDouble(product.Price))
                        / Convert.ToDouble(product.OriginalPrice)) * 100;
                    }
                </div>
                <div class="product-info-price d-flex align-items-center">
                    <h2>@CurrencyFormatter.Format(product.Price)</h2>
                    @if (discountPercent > 0)
                    {
                        <div class="product-info-discount-percent">
                            @("-" + (int)discountPercent + "%")
                        </div>
                    }
                </div>

                <div class="product-action d-flex my-2 align-items-center">
                    @if (inStock > 0)
                    {
                        <div class="buy-action d-flex gap-3">
                            <button class="buy-action-btn" data-product="@product.ProductId">
                                <h4>MUA NGAY</h4>
                                <span>Giao tận nơi hoặc nhận tại cửa hàng</span>
                            </button>
                            <button class="add-to-cart-btn" data-product="@product.ProductId">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="buy-action">
                            <button class="buy-action-btn" disabled>
                                <h4>HẾT HÀNG</h4>
                            </button>
                        </div>
                    }
                </div>

                <div class="mt-3">
                    @Html.Raw(product.ShortDescription)
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid mt-3 p-0">
        <div class="product-cts-wrapper d-flex align-items-start gap-3">
            <div class="product-contents">
                <div>
                    <div class="box-header">
                        <h4>Thông số kỹ thuật</h4>
                    </div>
                    <div class="product-para-table mt-4">
                        <table>
                            <tr>
                                <td>Hãng SX</td>
                                <td>@(product.Brand != null ? product.Brand.BrandName : "")</td>
                            </tr>
                            <tr>
                                <td>Bảo hành</td>
                                <td>@($"{product.Warranty} tháng")</td>
                            </tr>
                            @if (productSpecs.Count() > 0)
                            {
                                foreach (ProductSpecification spec in productSpecs)
                                {
                                    <tr>
                                        <td>@spec.SpecName</td>
                                        <td>@spec.SpecValue</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="box-header">
                        <h4>Mô tả sản phẩm</h4>
                    </div>
                    <div class="mt-3">
                        @if (!string.IsNullOrEmpty(product.Description))
                        {
                            Html.Raw(product.Description);
                        }
                        else
                        {
                            <p class="text-center mb-5">Sản phẩm này chưa có mô tả</p>
                        }
                    </div>
                </div>
            </div>
            <div class="product-similar d-flex flex-column gap-3">
                <div class="product-parameter product-cts-box">
                    <div class="box-header">
                        <h4>Sản phẩm tương tự</h4>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
