@{
    ViewData["Title"] = "Nhập kho - STech Admin";
    ViewData["PageTitle"] = "Nhập kho";
}

@model Tuple<Employee, IEnumerable<Warehouse>, IEnumerable<Supplier>, WarehouseImportVM>

@{
    Employee employee = Model.Item1;
    IEnumerable<Warehouse> warehouses = Model.Item2;
    IEnumerable<Supplier> suppliers = Model.Item3;
}

<section>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="page-content-box no-border h-100">
                <div class="page-content-header">
                    SẢN PHẨM
                </div>

                <div>
                    <div class="">
                        <div>
                            <div class="page-search-form mt-2">
                                <form>
                                    <i class="fa-solid fa-search"></i>
                                    <input type="text" id="search-products-val" placeholder="Tìm theo mã/tên sản phẩm" required />
                                </form>
                                
                                <div class="page-search-results search-list-product-results">
                        
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-4">
                            
                            <div class="import-products flex-grow-1 overflow-y-auto overflow-x-hidden">
                                <table class="w-100">
                                    <thead>
                                    <tr>
                                        <th class="weight-600">STT</th>
                                        <th class="fweight-600 ps-2">Sản phẩm</th>
                                        <th class="fweight-600">Số lượng</th>
                                        <th class="fweight-600">Giá nhập</th>
                                        <th class="fweight-600 text-end">Thành tiền</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody class="selected-product-list">
                                       
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 ps-1 col-md-4">
            <div class="page-content-box no-border">
                <div class="page-content-header">
                    THÔNG TIN PHIẾU NHẬP
                </div>

                <div class="import-infomation p-2">
                    <div class="page-input-box">
                        <label>Kho nhập</label>
                        <div class="page-input">
                            <select id="warehouse_id" asp-for="@Model.Item4.WarehouseId">
                                <option value="" selected>Chọn kho nhập</option>
                                @foreach (Warehouse warehouse in warehouses)
                                {
                                    <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Item4.WarehouseId"></span>
                        </div>
                    </div>

                    <div class="page-input-box mt-4">
                        <label>Nhà cung cấp</label>
                        <div class="page-input">
                            <select id="supplier_id" asp-for="@Model.Item4.SupplierId">
                                <option value="" selected>Chọn nhà cung cấp</option>
                                @foreach (Supplier supplier in suppliers)
                                {
                                    <option value="@supplier.SupplierId">@supplier.SupplierName</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Item4.SupplierId"></span>
                        </div>
                    </div>
                    <div class="page-input-box mt-4">
                        <label>Nhân viên nhập</label>
                        <div class="page-input">
                            <input type="text" placeholder="Tên nhân viên" value="@employee?.EmployeeName" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="page-input-box mt-4">
                        <label>Ngày tạo phiếu</label>
                        <div class="page-input">
                            <input type="text" placeholder="Ngày tạo phiếu" value="@DateTime.Now.ToString("MM/dd/yyyy")" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="page-input-box mt-4">
                        <label>Ghi chú</label>
                        <div class="page-input">
                            <textarea id="ImportNote" type="text" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-end mt-4">
                        <button class="form-submit-btn page-btn-sm btn-green create-import">Tạo phiếu nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/admin/css/warehouse.css"></link>
}

@section Scripts
{
    <script src="~/admin/js/warehouses.js"></script>
}
