@model PagedList<Customer>

@{
    ViewData["Title"] = "Quản lý khách hàng - STech";
    ViewData["PageTitle"] = "Quản lý khách hàng";
}

<section class="page-wrapper" data-page="customer">
    <div>
        <div class="d-flex align-items-center justify-content-between mb-3">
            <a href="javascript:" class="page-btn btn-border-only show-form-add-customer">
                <i class="fa-solid fa-plus"></i>
                <span>Thêm</span>
            </a>
            @await Html.PartialAsync("PartialViews/_PageSearchForm", new Tuple<string, string, string>("search-customers", "Tìm kiếm (mã, sđt, họ tên)", ViewBag.SearchValue))
        </div>

        <div>
            <div class="page-table-wrapper mt-2">
                <table class="page-table">
                    <thead class="page-table-header">
                        <tr>
                            <th>
                                <input type="checkbox" id="page-table-checkbox-all" />
                            </th>
                            <th>STT</th>
                            <th>Mã KH</th>
                            <th>Họ tên</th>
                            <th>Số ĐT</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="customer-list">
                        @{
                            int index = (Model.CurrentPage - 1) * 30 + 1;

                            foreach (Customer customer in Model.Items)
                            {
                                <tr data-item="@customer.CustomerId">
                                    <td>
                                        <input type="checkbox" name="page-table-checkbox" value="@customer.CustomerId" />
                                    </td>
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @customer.CustomerId
                                    </td>
                                    <td>
                                        @customer.CustomerName
                                    </td>
                                    <td>
                                        @customer.Phone
                                    </td>
                                    <td>
                                       @($"{customer.Address}, {customer.Ward}, {customer.District}, {customer.Province}")
                                    </td>
                                    <td>
                                        <div class="d-flex gap-1 align-items-center justify-content-end">
                                            <button class="page-table-btn btn-lightblue edit-customer" data-customer="@customer.CustomerId">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                            <button class="page-table-btn btn-red delete-customer" data-customer="@customer.CustomerId">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
            </div>

            @await Html.PartialAsync("PartialViews/_Pagination", new Tuple<int, int>(Model.CurrentPage, Model.TotalPages))
        </div>
    </div>
</section>

@await Html.PartialAsync("PartialViews/Form_AddCustomer", new CustomerVM())

@section Styles {
    
}

@section Scripts {
    <script src="~/admin/js/customers.js"></script>
    <script src="~/js/address.js"></script>
}