@model Invoice

@{
    ViewData["Title"] = "Chi tiết đơn hàng - STech Admin";
    ViewData["PageTitle"] = "Chi tiết đơn hàng";

    int index = 1;
    string payment_status = "", order_status = "";

    switch (Model.PaymentStatus)
    {
        case PaymentContants.Paid:
            payment_status = "<span class=\"page-badge badge-success\">Đã thanh toán</span>";
            break;

        case PaymentContants.UnPaid:
            payment_status = "<span class=\"page-badge badge-warning\">Chờ thanh toán</span>";
            break;

        case PaymentContants.PaymentFailed:
            payment_status = "<span class=\"page-badge badge-error\">Thanh toán thất bại</span>";
            break;
    }

    if (Model.IsCancelled)
    {
        order_status = "<span class=\"page-badge badge-error\">Đã hủy</span>";
    }
    else if (Model.IsCompleted)
    {
        order_status = "<span class=\"page-badge badge-success\">Đã giao hàng</span>";
    }
    else if (Model.IsAccepted)
    {
        order_status = "<span class=\"page-badge badge-warning\">Chờ giao hàng</span>";
    }
    else
    {
        order_status = "<span class=\"page-badge badge-warning\">Chờ xác nhận</span>";
    }
}

<section data-page="order-detail">
    <div class="row m-0 p-0">

        <div class="col-12 col-lg-8 p-0">

            <div class="page-content-box no-border">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="page-content-header">
                        Thông tin chung
                    </div>
                </div>

                <div>
                    <div class="d-flex flex-wrap gap-2">
                        <button class="page-btn btn-blue print-order" data-order="@Model.InvoiceId">
                            <i class="fa-solid fa-print"></i>
                            <span>In hóa đơn</span>
                        </button>

                        @if (!Model.IsCancelled && !Model.IsCompleted) 
                        {
                            if (!Model.IsAccepted)
                            {
                                <button class="page-btn btn-green accept-order" data-order="@Model.InvoiceId">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Xác nhận đơn</span>
                                </button>
                            }
                            else 
                            {
                                <button class="page-btn btn-lightblue confirm-completed" data-order="@Model.InvoiceId">
                                    <i class="fa-regular fa-circle-check"></i>
                                    <span>Xác nhận đã giao hàng</span>
                                </button>
                            }

                            @if (Model.PaymentStatus != PaymentContants.Paid)
                            {
                                @* <button class="page-btn btn-lightblue confirm-payment" data-order="@Model.InvoiceId">
                                    <i class="fa-solid fa-money-check-dollar"></i>
                                    <span>Xác nhận đã thanh toán</span>
                                </button> *@
                            }

                            <button class="page-btn btn-red cancel-order" data-order="@Model.InvoiceId">
                                <i class="fa-solid fa-xmark"></i>
                                <span>Hủy đơn</span>
                            </button>
                        }

                    </div>

                    <div class="row m-0 p-0 mt-3">

                        <div class="col-12 col-lg-5 ps-0">
                            <div>
                                <span class="fw-bold text-nowrap">Mã đơn:&nbsp;&nbsp;</span>
                                <span>@Model.InvoiceId</span>
                            </div>

                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Ngày đặt:&nbsp;&nbsp;</span>
                                <span>@Model.OrderDate?.ToString("dd/MM/yyyy HH:mm")</span>
                            </div>

                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Ghi chú:&nbsp;&nbsp;</span>
                                <span>@Model.Note</span>
                            </div>
                        </div>

                        <div class="col-12 col-lg-7 pe-0">
                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Phương thức thanh toán:&nbsp;&nbsp;</span>
                                <span>@Model.PaymentMed.PaymentName</span>
                            </div>

                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Trạng thái thanh toán:&nbsp;&nbsp;</span>
                                <span>@Html.Raw(payment_status)</span>
                            </div>

                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Trạng thái đơn hàng:&nbsp;&nbsp;</span>
                                <span>@Html.Raw(order_status)</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row m-0 p-0 pt-lg-3">

                <div class="col-12 col-lg-6 p-0 pe-lg-2">
                    <div class="page-content-box no-border">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="page-content-header">
                                Tài khoản đặt hàng
                            </div>
                        </div>

                        <div>
                            @if (Model.User != null) 
                            {
                                <div class="d-flex gap-3 align-items-center">
                                    <div class="user-image-wrapper">
                                        <img src="@(Model.User.Avatar ?? "/images/user-no-image.svg")" alt="" />
                                    </div>
                                    <span class="fw-bold">@Model.User.Username</span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-bold text-nowrap">Họ tên:&nbsp;&nbsp;</span>
                                    <span>@(Model.User.FullName ?? "--" )</span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-bold text-nowrap">Số ĐT:&nbsp;&nbsp;</span>
                                    <span>@(Model.User.Phone ?? "--")</span>
                                </div>

                                <div class="mt-1">
                                    <span class="fw-bold text-nowrap">Email:&nbsp;&nbsp;</span>
                                    <span>@(Model.User.Email ?? "--")</span>
                                </div>
                            }
                            else 
                            {
                                <span>--</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 p-0 ps-lg-2">
                    <div class="page-content-box no-border">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="page-content-header">
                                Thông tin nhận hàng
                            </div>
                            <a href="javascript:" class="btn-icon edit-recipient">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </div>

                        <div>
                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Họ tên người nhận:&nbsp;&nbsp;</span>
                                <span>@(Model.RecipientName ?? "--")</span>
                            </div>
                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Số ĐT:&nbsp;&nbsp;</span>
                                <span>@(Model.RecipientPhone ?? "--")</span>
                            </div>
                            <div class="mt-1">
                                <span class="fw-bold text-nowrap">Địa chỉ giao:&nbsp;&nbsp;</span>
                                <span>@(Model.DeliveryAddress ?? "--")</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="page-content-box no-border mt-lg-3">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="page-content-header">
                        Sản phẩm mua
                    </div>

                </div>

                <div>
                    <div class="page-table-wrapper mt-2">
                        <table class="page-table">
                            <thead class="page-table-header">
                                <tr>
                                    <th>STT</th>
                                    <th>Mã sản phảm</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá gốc</th>
                                    <th>Giá bán</th>
                                    <th>SL</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var detail in Model.InvoiceDetails)
                                {
                                    Product product = detail.Product;
                                    string imageUrl = product.ProductImages
                                        .FirstOrDefault()?.ImageSrc ?? "/images/no-image.jpg";

                                    <tr>
                                        <td>@index</td>
                                        <td>@detail.ProductId</td>
                                        <td>
                                            <div class="lazy-loading">
                                                <img lazy-src="@imageUrl" alt="" style="width: 2rem">
                                            </div>
                                        </td>
                                        <td><span class="text-overflow-2">@product.ProductName</span></td>
                                        <td>@CurrencyFormatter.Format(product.Price)</td>
                                        <td>@CurrencyFormatter.Format(detail.Cost)</td>
                                        <td>@detail.Quantity</td>
                                        <td>@CurrencyFormatter.Format(detail.Quantity * detail.Cost)</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="fw-bold text-nowrap">Tổng cộng:</span></td>
                                    <td>@Model.InvoiceDetails.Sum(i => i.Quantity)</td>
                                    <td>@CurrencyFormatter.Format(Model.InvoiceDetails.Sum(i => i.Cost * i.Quantity))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>          
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-4 p-0 ps-lg-3">

            <div class="page-content-box no-border">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="page-content-header">
                        Nhân viên tạo đơn
                    </div>
                </div>

                <div>
                    <span>--</span>
                </div>
            </div>

            <div class="page-content-box no-border mt-lg-3">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="page-content-header">
                        Trạng thái đơn hàng
                    </div>

                    <a href="javascript:" class="btn-icon edit-order-status">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </div>

                <div>
                    <span>--</span>
                </div>
            </div>

            <div class="page-content-box no-border mt-lg-3">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="page-content-header">
                        Tổng tiền
                    </div>
                </div>

                <div>
                    <div class="d-flex gap-2 align-items-center justify-content-between">
                        <span class="fw-bold">Tạm tính:</span>
                        <span>@CurrencyFormatter.Format(Model.SubTotal)</span>
                    </div>
                    <div class="d-flex gap-2 align-items-center justify-content-between">
                        <span class="fw-bold">Phí vận chuyển:</span>
                        <span>@(Model.PackingSlip != null ? CurrencyFormatter.Format(Model.PackingSlip.DeliveryFee) : "--")</span>
                    </div>
                    <div class="d-flex gap-2 align-items-center justify-content-between">
                        <span class="fw-bold">Tổng tiền:</span>
                        <span style="font-size: 1.1rem; font-weight: 600; color: #0859ec">@CurrencyFormatter.Format(Model.Total)</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

@section Scripts {
    <script src="~/admin/js/orders.js"></script>
}